.do-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;
  padding-bottom: 7rem;
  padding-top: 3rem;
  text-align: center;
}

.do-card-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.do-title h1 {
  font-size: 5rem;
}

.do-title img {
  max-width: 250px;
  max-height: 250px;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.do-title img:hover {
  cursor: pointer;
}

.do-title p {
  font-style: italic;
}

/* .card { */
/* border: 2px solid black; */
/* } */

.do-items {
  display: flex;
  /* border: 2px solid black; */
  padding: 1rem;
  border-radius: 10px/10px;
  text-align: left;
}

.card h2 {
  font-size: 2rem;
}

.greeting:hover {
  cursor: pointer;
}

.do-items h3 {
  font-size: 5rem;
  margin: 0 1rem 0 1rem;
}

.greeting {
  height: 1rem;
}

.greeting::before {
  content: 'Hello, my name is Seth.';
  opacity: 1;
  animation: animate 16s infinite;
}


/* ANIMATIONS */
@keyframes animate {
  0% {
    content: 'Hello, my name is Seth.';
    opacity: 1;
  }
  6.25% {
    content: 'Hello, my name is Seth.';
    opacity: 1;
  }
  12.5% {
    opacity: 0;
  }
  /* same as zero */
  21.875% {
    content: 'Hola, me llamo es Seth.';
    opacity: 1;
  }
  28.125% {
    content: 'Hola, me llamo es Seth.';
    opacity: 1;
  }
  34.375% {
    opacity: 0;
  }
  /* same as zero */
  43.75% {
    content: "Bonjour, je m'appelle Seth.";
    opacity: 1;
  }
  50% {
    content: "Bonjour, je m'appelle Seth.";
    opacity: 1;
  }
  56.25% {
    opacity: 0;
  }
  /* same as zero */
  65.625% {
    content: "Ciao, mi chiamo Seth.";
    opacity: 1;
  }
  71.875% {
    content: "Ciao, mi chiamo Seth.";
    opacity: 1;
  }
  78.125% {
    opacity: 0;
  }
  /* same as zero */
  87.5% {
    content: "नमस्ते, मेरा नाम सेठ है।";
    opacity: 1;
  }
  93.75% {
    content: "नमस्ते, मेरा नाम सेठ है।";
    opacity: 1;
  }
  96% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }

}

.web-dev-animate {
  animation: web-dev 3s 1;
}

@keyframes web-dev {
  from {
    opacity: .1;
  }
  to {
    opacity: 1;
  }
}
@keyframes frontEnd {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 480px) {
  .do-title h1 {
    font-size: 3rem;
  }

  .do-items h3 {
    font-size: 3rem;
  }
}