.do-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;
  padding-bottom: 7rem;
  padding-top: 3rem;
  text-align: center;
}

.do-card-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.do-title h1 {
  font-size: 5rem;
}

.do-title img {
  max-width: 250px;
  max-height: 250px;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.do-title img:hover {
  cursor: pointer;
}

.do-title p {
  font-style: italic;
}

/* .card { */
/* border: 2px solid black; */
/* } */

.do-items {
  display: flex;
  /* border: 2px solid black; */
  padding: 1rem;
  border-radius: 10px/10px;
  text-align: left;
}

.card h2 {
  font-size: 2rem;
}

.greeting:hover {
  cursor: pointer;
}

.do-items h3 {
  font-size: 5rem;
  margin: 0 1rem 0 1rem;
}

@media screen and (max-width: 480px) {
  .do-title h1 {
    font-size: 3rem;
  }

  .do-items h3 {
    font-size: 3rem;
  }
}