.projects-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.projects-section h1 {
  text-align: center;
  margin-bottom: 5rem;
}

.projects-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid black 2px;
  border-radius: 10px/10px;
  max-width: 550px;
  max-height: 525px;
  min-width: 250px;
  min-height: 225px;
  margin: 2rem;
}

.project-card h1 {
  margin-bottom: 0;
}