.education-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 7rem;
  /* border-top: solid 2px black; */
  border-bottom: 2px black solid;
}

.ed-img-container {
  /* flex: 1 1 30rem; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* width: 100%; */
  align-items: center;
  /* border-top: solid 2px black; */
  /* border-bottom: solid 2px black; */
  padding: .5rem;
  /* padding: 2rem; */
}

.ed-img-container h1 {
  font-size: 4rem;
}

.timeline {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* flex: 1 1 50%; */
  margin-top: 1rem;
  padding: 2rem;
}

@media screen and (max-width: 480px) {
  .ed-img-container h1 {
    font-size: 2rem;
  }
}
