.quote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 4rem;
  margin-top: 1rem;
  /* border-bottom: solid black 2px; */
}

.quote-container h2 {
  font-style: italic;
}

.quote-container p {
  font-style: italic;
}

.hidden {
  opacity: 0;
}

.grow {
  animation: grow 3s 1;
}

@keyframes grow {
  from {
    opacity: .1;
    transform: scale(.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
