.bio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.image-container {
  flex: 1 1 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 2px black;
  padding: 2rem;
}

.text-container {
  flex: 1 1 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 2px black;
  padding: 2rem;
}

.text-paragraph-container {
  display: flex;
  flex-direction: column;
}

.text-paragraph-container p {
  line-height: 1.5rem;
  /* max-width: 400px; */
}
