.experience-item {
  text-align: left;
  max-width: 45rem;
  /* min-width: 45rem; */
  box-sizing: border-box;
  width: 100%;
  padding: 2rem;
  border-radius: 10px/10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
  margin: 1rem;
  /* flex: 1; */
}

.experience-item li {
  line-height: 2rem;
}

.company-name {
  text-decoration: none;
  color: black;
}

.bold {
  font-weight: bold;
}

@media screen and (max-width: 750px) {
  .experience-item {
    width: 35rem;
  }
}

@media screen and (max-width: 585px) {
  .experience-item {
    width: 30rem;
  }
}

@media screen and (max-width: 515px) {
  .experience-item {
    width: 26rem;
  }
}

@media screen and (max-width: 480px) {
  .experience-item {
    border: none;
    width: 24rem;
  }
}

@media screen and (max-width: 400px) {
  .experience-item {
    border: none;
    width: 20rem;
  }
}