.experience-item {
  text-align: left;
  max-width: 45rem;
  padding: 2rem;
  border-radius: 10px/10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
}

.experience-item li {
  line-height: 2rem;
}

.company-name {
  text-decoration: none;
  color: black;
}

.bold {
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  .experience-item {
    border: none; 
  }
}
