.contact-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 4rem;
  padding-top: 1rem;
  background-color: var(--apple);
}

.form-container {
  text-align: center;
  /* border: 2px solid black; */
  padding: 2rem;
}

.form-container h1 {
  font-size: 4rem;
}

.form {
  display: flex;
  flex-direction: column;
  /* border: 2px solid black; */
  padding: 2rem;
  justify-content: center;
}

.form a {
  text-decoration: none;
}

.hidden {
  opacity: 0;
}

.fade {
  animation: fade-in-and-up 2s 1;
}

@keyframes fade-in-and-up {
  from {
    transform: translate(0, 100px);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
