.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  border-bottom: solid black 2px;
}

.title {
  font-size: .8rem;
}

.nav-tabs {
  display: flex;
}
