.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  border-bottom: solid black 2px;
}

.title {
  font-size: .8rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.nav-tabs {
  display: flex;
  justify-content: space-between;
}

.nav-tabs a {
  font-size: 2rem;
  text-decoration: none;
  margin: 1rem .5rem 1rem .5rem;
}
