.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  /* border-bottom: solid black 2px; */
  background-color: var(--red);
  background-color: var(--blue);
  position: sticky;
  top: 0;
  z-index: 1;
}

.title {
  font-size: .8rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.title img {
  height: 3rem;
  width: 3rem;
}

.title img:hover {
  cursor: pointer;
  /* transform: rotate(10deg); */
  transform: scale(1.1);
  transition: ease 48ms;
}

.nav-tabs {
  display: flex;
  justify-content: space-between;
}

.nav-tabs a {
  font-size: 2rem;
  text-decoration: none;
  margin: 1rem .5rem 1rem .5rem;
}

.nav-tabs a:hover {
  transform: rotate(10deg);
  transition: ease 48ms;
}
