* {
  /* font-family: 'Roboto'; */
  /* font-family: 'Open Sans'; */
  font-family: 'Montserrat';
}

:root {
  /* --main-bg-color: brown; */

  /* --red: #EE6352; */
  --red: #e54d26;
  --blue:#3d8fc6;
  --skyBlue: #72DDF7;
  --yellow: #f0db4f;
  --nodeGreen: #83cd29;
  --graphqlPink: #e434aa;
  --reactBlue: #61dafb;
  --apple: #f5f5f7;
}